.banner{
    background-image: url('https://1.bp.blogspot.com/-wQti4cECJFk/VeNIOYapcYI/AAAAAAAAqa4/VTggU_r2NeQ/s1600/Video_25.jpg');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}